@font-face {
    font-family: 'margarita';
    src: url('./hurry up.ttf') format('truetype');
}

/* icon
AKTUELLES:
<a href="https://de.freepik.com/icon/mariachi_10905390">Icon von Freepik</a>


<a href="https://de.freepik.com/icon/traditionelles-kleid_4372347#fromView=search&page=2&position=63&uuid=8166b9d1-132c-4208-aa52-c291d665d44c">Icon von Freepik</a>*/